# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

ircbot

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
build.ninja
cmake_install.cmake
rules.ninja
Makefile

.ycm_extra_conf.py
.ycm_extra_conf.pyc
tags
